h2, mark {
    display: inline-block;
    opacity: 0;
    transform: translateY(1em);
    animation: revealText 1s forwards;
  }
  
  @keyframes revealText {
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }