body {
  background-color: #010409;
}

section {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.card {
  max-width: 500px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 900px;
  height: 200px;
  padding: 35px;

  border: 1px solid #242424;
  border-radius: 60px;
  background-color: #262626;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}

form{
    display: flex;
    flex-direction: column;
}