body{
  background-color: black;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  margin: 10% 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 300px;
  background-color: grey;
  border-radius: 12px;
}
input{
  width: 188px;
}